BODY
{
	padding: 0; /*убираем внутренние отступы*/
	margin: 0; 		/*убираем внешние отступы*/
}

.header
{
	border:#000 solid 0px;
	height:140px; /*80(TopMenu_1) + 60 (TopMenu_2) = 140*/
    width: 99.9%;
}

/* Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами. Если задано обтекание элемента с помощью
 свойства float, то clear отменяет его действие для указанных сторон. */
.clear { clear:both; } /*В данном случае заканчивает блок с каталогами и делает новый блок с новой строки*/